jobspy==0.29.0
langchain==0.2.3
langchain_community==0.2.4
langchain_core==0.2.5
langchain_openai==0.1.8
langchain_pinecone==0.1.1
nltk==3.8.1
protobuf==3.20.3
pypdf==4.2.0
python-dotenv==1.0.1
streamlit==1.35.0
python-jobspy
google-generativeai
chromadb
pandas>=2.1.0,<3.0.0

