jobspy
langchain
langchain_community
langchain_core
langchain_openai
langchain_pinecone
nltk
protobuf
pypdf
python-dotenv
streamlit
python-jobspy
google-generativeai
pandas
faiss-cpu
tiktoken
PyPDF2

