jobspy
langchain==0.0.240
langchain_community
langchain_core
langchain_openai
langchain_pinecone
nltk==3.8.1
protobuf==4.23.3
pypdf==3.8.1
python-dotenv==1.0.0
streamlit==1.24.0
python-jobspy
google-generativeai
pandas==2.0.2
faiss-cpu==1.7.3
tiktoken==0.4.0
PyPDF2==3.0.1
